<nav>
  <a href="/books">
    <figure class="vertical">
      <i class="fa fa-bookmark fa-3x"></i>
      <figcaption>
        <h1>Books</h1>
      </figcaption>
    </figure>
  </a>
  <a href="/authors">
    <figure class="vertical">
      <i class="fa fa-user fa-3x"></i>
      <figcaption>
        <h1>Authors</h1>
      </figcaption>
    </figure>
  </a>
</nav>

<section class="book">
  <div class="delete">
    <a href="/books/{{book.id}}">
      <img class="this-img" src="{{book.cover_url}}">
    </a>
    <div class="info">
      <h2>{{book.title}}</h2>
      <h4>
        {{#each this.authors}}
          <a href="/authors/{{author_id}}">{{first_name}} {{last_name}}</a><br>
        {{/each}}
      </h4>
      <p class="genre">{{book.name}}</p>
      <p class="description">{{book.description}}</p>
    </div>
  </div>
  <a href="/books/{{book.book_id}}/delete-book">
    <button class="delete-btn">
      Delete {{book.title}}?
    </button>
  </a>
</section>
