<section class="book">
  {{#each book}}
  <article class="list">
    <a href="/books/{{book_id}}">
      <img class="this-img" src="{{cover_url}}">
    </a>
    <div class="info">
      <div class="headings">
        <a href="/books/{{book_id}}">
          <h2>{{title}}</h2>
        </a>
        <a href="/books/{{book_id}}/edit">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="/books/{{book_id}}/delete">
          <i class="fa fa-remove"></i>
        </a>
      </div>
      <h4>By (Author)</h4>
      <p class="genre">{{name}}</p>
      <p class="description">{{description}}</p>
    </div>
  </article>
  {{/each}}
  <a href="/books/new"><button>Add a Book</button></a>
</section>
