<nav>
  <a href="/books">
    <figure>
      <img src="http://www.uglydogbooks.com/wp-content/uploads/2014/04/books.jpg">
      <figcaption>
        <h1>Books</h1>
      </figcaption>
    </figure>
  </a>
  <a href="/authors">
    <figure>
      <img src="http://az616578.vo.msecnd.net/files/2016/03/12/635934148383695904190770395_writrrr.jpg">
      <figcaption>
        <h1>Authors</h1>
      </figcaption>
    </figure>
  </a>
</nav>

<main class="book">
  {{#each book}}
  <section class="list">
    <a href="/books/{{book_id}}">
      <img class="this-img" src="{{cover_url}}">
    </a>
    <div class="info">
      <div class="headings">
        <a href="/books/{{book_id}}">
          <h2>{{book_id}} {{title}}</h2>
        </a>
        <a href="/books/{{book_id}}/edit">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="/books/{{book_id}}/delete">
          <i class="fa fa-remove"></i>
        </a>
      </div>
      <h4>By:
        {{#each this.authors}}
          <a href="/authors/{{author_id}}">{{first_name}} {{last_name}}</a><br> 
        {{/each}}
      </h4>
      <p class="genre">{{name}}</p>
      <p class="description">{{description}}</p>
    </div>
  </section>
  {{/each}}
  <a href="/books/new"><button>Add a Book</button></a>
</main>
