<nav>
  <a href="/books">
    <figure class="vertical">
      <i class="fa fa-bookmark fa-3x"></i>
      <figcaption>
        <h1>Books</h1>
      </figcaption>
    </figure>
  </a>
  <a href="/authors">
    <figure class="vertical">
      <i class="fa fa-user fa-3x"></i>
      <figcaption>
        <h1>Authors</h1>
      </figcaption>
    </figure>
  </a>
</nav>

<section class="book">
  {{#each book}}
  <section class="list">
    <a href="/books/{{id}}">
      <img class="this-img" src="{{cover_url}}">
    </a>
    <div class="info">
      <div class="headings">
        <a href="/books/{{id}}">
          <h2>{{title}}</h2>
        </a>
        <div class="icons">
          <a href="/books/{{id}}/edit">
            <i class="fa fa-pencil"></i>
          </a>
          <a href="/books/{{id}}/delete">
            <i class="fa fa-remove"></i>
          </a>
        </div>
      </div>
      <h4>
        {{#each this.authors}}
          <a href="/authors/{{author_id}}">{{first_name}} {{last_name}}</a><br>
        {{/each}}
      </h4>
      <p class="genre">{{name}}</p>
      <p class="description">{{description}}</p>
    </div>
  </section>
  {{/each}}
  <a href="/books/new"><button>Add a Book</button></a>
</section>
