<section class="book read">
  <img class="this-img" src="{{book.cover_url}}">
  <div class="info">
    <div class="headings">
      <h2>{{book.title}}</h2>
      <a href="/books/{{book.book_id}}/edit">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="/books/{{book.book_id}}/delete">
        <i class="fa fa-remove"></i>
      </a>
    </div>
    <h4>By (Author)</h4>
    <p class="genre">{{book.name}}</p>
    <p class="description">{{book.description}}</p>
  </div>
</section>
