<nav>
  <a href="/books">
    <figure>
      <img src="http://www.uglydogbooks.com/wp-content/uploads/2014/04/books.jpg">
      <figcaption>
        <h1>Books</h1>
      </figcaption>
    </figure>
  </a>
  <a href="/authors">
    <figure>
      <img src="http://az616578.vo.msecnd.net/files/2016/03/12/635934148383695904190770395_writrrr.jpg">
      <figcaption>
        <h1>Authors</h1>
      </figcaption>
    </figure>
  </a>
</nav>

<main class="book read">
  <a href="/books/{{book.book_id}}">
    <img class="this-img" src="{{book.cover_url}}">
  </a>
  <div class="info">
    <div class="headings">
      <h2>{{book.title}}</h2>
      <a href="/books/{{book.book_id}}/edit">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="/books/{{book.book_id}}/delete">
        <i class="fa fa-remove"></i>
      </a>
    </div>
    <h4>By (Author)</h4>
    <p class="genre">{{book.name}}</p>
    <p class="description">{{book.description}}</p>
  </div>
</main>
