<section class="book">
  <h3>Edit This Book<h3>
  <form action="/books/{{book.book_id}}/edit" method="post" class="edit-book">
    <label for="title">Title</label>
      <input type="text" id="title" name="title" value="{{book.title}}">

    <label for="genre">Genre</label>
      <input type="text" id="genre" name="genre" value="{{book.name}}" disabled>

    <label for="description">Description</label>
      <textarea rows="5" id="description" name="description" value="{{book.description}}">{{book.description}}</textarea>

    <label for="cover_url">Cover Image URL</label>
      <input type="url" id="cover_url" name="cover_url" value="{{book.cover_url}}">

    <button type="submit">Update</button>
  </form>
</section>
