<section class="book">
  {{#each book}}
  <article class="book-list">
      <img class="book-cover" src="{{cover_url}}">
    <div class="book-info">
      <div class="book-header">
        <h2>{{title}}</h2>
        <a href="/books/{{book_id}}/edit">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="/books/{{book_id}}/delete">
          <i class="fa fa-remove"></i>
        </a>
      </div>
      <h4>By (Author)</h4>
      <p class="genre">{{name}}</p>
      <p class="description">{{description}}</p>
    </div>
  </article>
  {{/each}}
  <a href="/books/new"><button>Add a Book</button></a>
</section>
