<nav>
  <a href="/books">
    <figure class="vertical">
      <i class="fa fa-bookmark fa-3x"></i>
      <figcaption>
        <h1>Books</h1>
      </figcaption>
    </figure>
  </a>
  <a href="/authors">
    <figure class="vertical">
      <i class="fa fa-user fa-3x"></i>
      <figcaption>
        <h1>Authors</h1>
      </figcaption>
    </figure>
  </a>
</nav>

<section class="author">
  {{#each author}}
  <section class="list">
    <a href="/authors/{{id}}">
      <img class="this-img" src="{{portrait_url}}">
    </a>
    <div class="info">
      <div class="headings">
        <a href="/authors/{{id}}">
          <h2>{{first_name}} {{last_name}}</h2>
        </a>
        <a href="/authors/{{id}}/edit">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="/authors/{{id}}/delete">
          <i class="fa fa-remove"></i>
        </a>
      </div>
      <p class="bio">{{bio}}</p>
      <h4>Books</h4>
        {{#each this.books}}
          <a href="/books/{{book_id}}"><p>{{title}}</p>
          </a>
        {{/each}}
    </div>
  </section>
  {{/each}}
  <a href="/authors/new"><button>Add an Author</button></a>
</section>
